<!--Bootstrap 3.3.0 Snippet by arboshiki-->
<div class="container">
  <div class="table-responsive">
    <div class="membership-pricing-table">
      <center><table align="center;">
        <tbody><tr>
          <th></th>
          <th class="plan-header plan-header-free">
            <div class="pricing-plan-name">BASIC</div>
            <div class="pricing-plan-price">
                <sup>$</sup>0<span>.00</span>
            </div>
            <div class="pricing-plan-period">month</div>
          </th>
          <th class="plan-header plan-header-blue">
            <div class="pricing-plan-name">PREMIUM</div>
            <div class="pricing-plan-price">
                <sup>$</sup>10<span>.00</span>
            </div>
            <div class="pricing-plan-period">month</div>
          </th>
          <th class="plan-header plan-header-blue">
            <div class="pricing-plan-name">PRO</div>
            <div class="pricing-plan-price">
                <sup>$</sup>100<span>.00</span>
            </div>
            <div class="pricing-plan-period">month</div>
          </th>
        </tr>
          <tr>
            <td></td>
            <td class="action-header">
              <% if current_user.plan_id==1 %>
                <div class="current-plan">
                  <div class="with-date">Current Plan</div>
                </div>
              <% else %>
                <%= link_to "Downgrade", user_cancel_plan_path(:user_id => current_user.id), data: { confirm: "Are you want to cancel your subscription?" }, method: :put, class: 'btn btn-info'%>
              <% end %>
            </td>
            <td class="action-header">
              <% if current_user.plan_id==1 %>
                <%= link_to "Upgrade", user_edit_payment_path(:plan_id => 2, :user_id => current_user.id), method: :get, class: 'btn btn-success'%>
              <% elsif current_user.plan_id==2 %>
                <div class="current-plan">
                  <div class="with-date">Current Plan</div>
                </div>
              <% else %>
                <%= link_to "Downgrade", user_edit_payment_path(:plan_id => 2, :user_id => current_user.id), method: :get, class: 'btn btn-info'%>
              <% end %>
            </td>
            <td class="action-header">
              <% if current_user.plan_id==3 %>
                <div class="current-plan">
                  <div class="with-date">Current Plan</div>
                </div>
              <% else %>
                <%= link_to "Upgrade", user_edit_payment_path(:plan_id => 3, :user_id => current_user.id), method: :get, class: 'btn btn-success'%>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Shopping:</td>
            <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
            <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
            <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
          </tr>
          <tr>
            <td>Join Independent Groups:</td>
            <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
            <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
            <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
          </tr>
          <tr>
            <td>Join Groups within Organization:</td>
            <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
            <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
            <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
          </tr>
          <tr>
            <td>Join an Organization:</td>
            <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
            <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
            <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
          </tr>
          <tr>
            <td>Create an Independent Research Group:</td>
            <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
            <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
            <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
          </tr>
          <tr>
            <td>Create a Groups within Organization:</td>
            <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
            <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
            <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
          </tr>
          <tr>
            <td>Create an Organization:</td>
            <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
            <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
            <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
          </tr>
      </tbody></table></center>
    </div>
  </div>
</div>