<div class="container">
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="tab" href="#cage">Cage Info</a></li>
    <li><a data-toggle="tab" href="#animals">Animals</a></li>
  </ul>
  <div class="tab-content">
    <div id="cage" class="tab-pane fade in active">
      <%= render 'cage' %>
    </div>
    <div id="animals" class="tab-pane fade">
      <%= render 'animals' %>
    </div>
  </div>
</div>
