<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#animals">Animals</a></li>
    <li><a data-toggle="tab" href="#users">Users</a></li>
  </ul>
  <div class="tab-content">
    <div id="animals" class="tab-pane fade in active">
      <%= render 'animals' %>
    </div>
    <div id="users" class="tab-pane fade">
      <%= render 'users' %>
    </div>
  </div>
</div>