<div class="fullscreen-bg-home">

</div>
<div class="home-callout container-fluid">
  <div class="container text-center">
    <div class="content">
      <h1><strong>Welcome to Velocity Laboratories</strong></h1>
      <h3>Helping out clients bring new pain relieving medicines to market sooner through innovative and accelerated preclinical testing.</h3>
    </div>
  </div>
</div>
<div class="container-fluid selection-outer">
  <div class="container selection-inner">
    <div class="row spacer">
    </div>
    <div class="row">
      <ul class="nav nav-pills nav-justified selector">
        <li class="active"><a data-toggle="pill" href="#monitoring">
          <i class="fa fa-camera-retro fa-2x" aria-hidden="true"></i>
          <h3>Monitoring</h3>
        </a></li>
        <li><a data-toggle="pill" href="#testing">
          <i class="fa fa-line-chart fa-2x" aria-hidden="true"></i>
          <h3>Testing</h3>
        </a></li>
      </ul>
    </div>
    <div class="row spacer2">
    </div>
  </div>
</div>
<div class="container-fluid services">
  <div class="container">
    <div class="row">
      <div class="tab-content">
        <div id="monitoring" class="tab-pane fade in active">
          <%= render 'monitoring' %>
        </div>
        <div id="testing" class="tab-pane fade">
          <%= render 'testing' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid home-signupparent">
  <div class="row">
    <div class="text-center home-signupchild">
      <h2>Create an account to get started!</h2>
      <%= link_to 'Sign Up', plans_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
</div>

<!--<div class="container-fluid sliders">-->
<!--  <div class="row">-->
<!--    <div class="col-md-10 col-md-offset-1 text-center">-->
<!--      <div class="banner">-->
<!--      	<ul>-->
<!--      		<li><%#= image_tag 'slide1.gif', class:'home-slide' %></li>-->
<!--      		<li><%#= image_tag 'slide2.gif', class:'home-slide2' %></li>-->
<!--      		<li><%#= image_tag 'slide3.gif', class:'home-slide3' %></li>-->
<!--      		<li><%#= image_tag 'slide4.gif', class:'home-slide4' %></li>-->
<!--      		<li><%#= image_tag 'slide5.gif', class:'home-slide5' %></li>-->
<!--      	</ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
