<div class="col-md-6 text-center">
  <h1>Animal Monitoring</h1>
  
</div>
<div class="col-md-6 text-center">
  <%= image_tag 'https://s3-us-west-2.amazonaws.com/velocitylaboratories/rat-3-transparent.png', height: 500, class: 'monitoring-image' %>
</div>