<div class="col-md-6 text-center">
  <%= image_tag 'https://s3-us-west-2.amazonaws.com/velocitylaboratories/rat-1-transparent.png', height: 500, class: 'monitoring-image' %>
</div>
<div class="col-md-6 text-center">
  <h1>Preclinical Operant Testing</h1>
  <p>Velocity Laboratories can provide prospective data from pain assays to 
  deliver a more complete preclinical assessment of your prospective 
  analgesics</p>
</div>