<div class="container-fluid text-center about-callout">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Why Velocity Laboratories?</h2>
      <h4>Unique operant pain and addiction expertise</h4>
      <p>As innovators in the development of operant pain assays, nobody knows more 
      about the execution and interpretation of preclinical operant pain testing. With
      over 20 years of experience in preclinical models of pain and addiction, 
      <strong>Velocity Laboratories</strong> gives in-depth and thorough 
      interpretations, placing your results in context to help you identify the most 
      effective analgesic treatments with the least abuse liability.</p>
      <h4>Extensive research and industry experience</h4>
      <p>As a team of academics, researchers, and industry specialists, 
      <strong>Velocity Laboratories</strong> delivers a reliable, accurate, and 
      translational experience.</p>
    </div>
  </div>
</div>

<div class="container-fluid text-center about-team">
  <div class="row">
    <h2>Our Team</h2>
    <div class="col-md-4">
      <h4>John. K. Neubert</h4>
      <p>John K. Neubert is the CEO of Velocity Laboratories. He received his 
      D.D.S., Orofacial Pain Management specialty training, and Ph.D. from UCLA 
      before completing a clinical fellowship at the National Institutes of 
      Health and obtaining over 10 years of academic experience. 
      He is a co-inventor of the operant orofacial pain assay and is a leading 
      expert in operant pain assessment. He provides a clinician-scientist’s 
      perspective on pain and translational research expertise.</p>
    </div>
    <div class="col-md-4">
      <h4>Robert M. Caudle</h4>
      <p>Robert M. Caudle is the President of Velocity Laboratories. He 
      received his Ph.D. from the University of Illinois at Chicago and 
      completed post-doctoral studies at the University of Washington. After 
      spending 8 years in the Pain and Neurosensory Mechanisms Branch at the 
      National Institutes of Health, he gained over 15 years of academic 
      experience. He is a co-inventor of the operant orofacial pain assay.</p>
    </div>
    <div class="col-md-4">
      <h4>Niall P. Murphy</h4>
      <p>Niall P. Murphy, the Chief Scientific Officer for Velocity 
      Laboratories, received his Ph.D. from the University of Cambridge before 
      completing a post-doctoral fellowship at UCLA. He headed an independent 
      laboratory in the RIKEN Brain Science Institute studying addictive 
      processes before adding another 5 years of academic experience at UCLA 
      in a faculty position. He has over 15 years of experience in preclinical 
      models of reward, addiction, motivation, and depression.</p>
    </div>
  </div>
</div>

<div class="container-fluid text-center">
  <div class="row">
    <%= link_to "Contact Us", "#", class: "btn btn-primary btn-lg contact-btn" %>
  </div>
</div>