/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

@import 'variables';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}


// Typography Styles
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}
// Nav Styles
.navbar {
  @include background-gradient;
  border:none;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #00c6ff;
  }
}

// Remove devise login/signup messages

.flash-container {
  position: absolute;
  width: 100%;
}

.alert-notice {
  @include alert(rgba(255,255,255,0.3), rgba(255,255,255,0.5), black);
}

.alert-alert {
  @include alert(rgba(255,255,255,0.3), rgba(255,255,255,0.5), red);
}

.footer {
  bottom: 0;
  min-height: 70px;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  padding-top: 15px;
  font-weight: 500;
  font-size: 1.25em;
  
  .footer-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-decoration: none;
  }
  .footer-brand,
  li > a {
    color: white;
    &:hover {
      color: white;
      opacity: 0.75;
    }
  }
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1010px) {

	.footer-left, .footer-center, .footer-right {
	  display: block;
		width: 100%;
		text-align: center;
	}
	
}