@import 'variables';

// Home Page Styles
.home-callout {
  @include background-gradient;
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.home-signup-links {
  margin-top: 30px;
}

//About Page Styles

.about-callout {
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}
.about-team {
  @include background-gradient;
  color: white;
  padding-top: 50px;
  padding-bottom: 100px;
}

.contact-btn {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
}