@import 'myvariables';

// Home Page Styles

.home-callout {
  // @include background-gradient;
  height: 100vh;
  color: #fff;
  font-size: 3em;
  margin-top: -20px;
  padding-top: 100px;
  padding-bottom: 100px;
  @include video-overlay;
  font-family: 'Fjalla One', sans-serif;
}

.home-callout .content {
  padding-top: 20vh;
  align-items: center;
  justify-content: center;
}

.home-signup-links {
  margin-top: 30px;
}

.home-user-signed-in {
  padding-top: 50px;
}
// Selection
// ink-blue 062F4F
// posy-purple 813772
// embers-red B82601
.selection-outer {
  background: #141414;
  border-bottom: 1px solid #000;
  .spacer {
    height: 50px;
  }
  
  .selector {
    li {
      color: #062F4F;
      a {
        color: #777;
      }
      
      a:hover {
        background-color: #141414;
        color: #FFF;
      }
    }
    li.active > a {
      background-color: #141414 !important;
      border-bottom: 5px solid white;
      border-radius: 0px;
    }
  }
}

// Home Services

.services {
  height: 400px;
  background-color: #FFF;
  .monitoring-text {
    padding-top: 60px;
    .btn {
      margin-top: 60px;
    }
  }
  .monitoring-image {
    height: 400px;
  }
  .testing-text {
    padding-top: 60px;
    .btn {
      margin-top: 60px;
    }
  }
  .testing-image {
    height: 400px;
  }
}

// Sign up button
.home-signupparent {
  height: 250px;
  background-color: #141414;
  
  .btn {
    margin-top: 100px;
  }
}
// Unslider Styles
.sliders {
  padding-top: 20px;
  background: #153649;
  
  .banner { 
  	position: relative; 
    overflow: auto; 
  }
     
  .banner li { 
  	list-style: none; 
  }
  
  .banner ul li { 
  	float: left; 
  }

}

//About Page Styles

.about-callout {
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}
.about-team {
  @include background-gradient;
  color: white;
  padding-top: 50px;
  padding-bottom: 100px;
}

.contact-btn {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
}



// Background Video Media
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('https://s3-us-west-2.amazonaws.com/velocitylaboratories/DnaFrame.png') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

// Other media
@media (max-width: 992px) {
  .fullscreen-bg__video {
      top: 60%;
      left: 60%;
      min-width: 120%;
      min-height: 120%;
    }
  .home-callout {
    color: #fff;
    font-size: 1em;
    margin-top: -20px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
	.services {
	  height: 500px;
	  .monitoring-text {
      padding-top: 50px;
      .btn {
        margin-top: 50px;
      }
    }
    .monitoring-image {
      height: 200px;
    }
    .testing-text {
      padding-top: 0;
      .btn {
        margin-top: 50px;
      }
    }
    .testing-image {
      height: 200px;
    }
	}
}