@import 'myvariables';

// Background Video

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
// Home Page Styles

.home-callout {
  // @include background-gradient;
  height: 100vh;
  color: #fff;
  font-size: 3em;
  margin-top: -20px;
  padding-top: 100px;
  padding-bottom: 100px;
  @include video-overlay;
  font-family: 'Fjalla One', sans-serif;
}

.home-callout .content {
  padding-top: 20vh;
  align-items: center;
  justify-content: center;
}

.home-signup-links {
  margin-top: 30px;
}

.home-user-signed-in {
  padding-top: 50px;
}
// Selection
// ink-blue 062F4F
// posy-purple 813772
// embers-red B82601
.selection-outer {
  background: #141414;
  border-bottom: 1px solid #000;
  .spacer {
    height: 50px;
  }
  
  .selector {
    li {
      color: #062F4F;
      a {
        color: #777;
      }
      
      a:hover {
        background-color: #141414;
        color: #FFF;
      }
    }
    li.active > a {
      background-color: #141414 !important;
      border-bottom: 5px solid white;
      border-radius: 0px;
    }
  }
}

// Home Services

.services {
  height: 500px;
  background-color: #FFF;
  .monitoring-text {
    padding-top: 150px;
    .btn {
      margin-top: 100px;
    }
  }
  .testing-text {
    padding-top: 150px;
    .btn {
      margin-top: 100px;
    }
  }
}

// Sign up button
.home-signupparent {
  height: 250px;
  background-color: #141414;
  
  .btn {
    margin-top: 100px;
  }
}
// Unslider Styles
.sliders {
  padding-top: 20px;
  background: #153649;
  
  .banner { 
  	position: relative; 
    overflow: auto; 
  }
     
  .banner li { 
  	list-style: none; 
  }
  
  .banner ul li { 
  	float: left; 
  }

}

//About Page Styles

.about-callout {
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}
.about-team {
  @include background-gradient;
  color: white;
  padding-top: 50px;
  padding-bottom: 100px;
}

.contact-btn {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
}



// Background Video Media
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('Dnaframe.png') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
  
  .home-callout {
    color: #fff;
    font-size: 1em;
    margin-top: -20px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 992px) {
	.services {
	  height: 1000px;
	}
}