<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Organizations</h1>
      <p class="text-center">All Created Organizations.</p>
      <ul class="list-unstyled">
        <% @organizations.each do |organization| %>
          <li>
            <div class="well row <%= cycle('white-bg','') %>">
              <%= link_to organization do %>
                <h2><%= organization.name %></h2>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>