<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Groups in Organization <strong><%=@org.name%></strong></h1>
      <ul class="list-unstyled">
        <% @groups.each do |group| %>
          <li>
            <div class="well row <%= cycle('white-bg','') %>">
              <% if current_user==@owner %>
                <h2>Owner</h2>
              <% end %>
              <h3><%= user.email %></h3>
            </div>
          </li>
        <% end %>
        <%= link_to "Add group to organization", organization_path(:id => @org.id), :method => :put, class: 'btn btn-primary btn-lg' %>
      </ul>
    </div>
  </div>
</div>