<div class="container">
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="tab" href="#groups">Groups</a></li>
    <li><a data-toggle="tab" href="#users">Users</a></li>
  </ul>
  <div class="tab-content">
    <div id="groups" class="tab-pane fade in active">
      <%= render 'groups' %>
    </div>
    <div id="users" class="tab-pane fade">
      <%= render 'users' %>
    </div>
  </div>
</div>